with canvas
	.origin = [250, 250]
	.size = [500, 500]

func petal(x, y)
	with path()
		let start = [x, y]
		with jump()
			.position = start
		with cBezier()
			.startControl = [48.332, -3.300]
			.endControl = [6.595, -50.080]
			.end = start

let i = 0
let count = 12
repeat count
	let x = 50 * cos(i / count * :tau)
	let y = 50 * sin(i / count * :tau)
	petal(x, y)
	++i