def star as polyline
	with jump()
		position = [250, 250]
	repeat 5
		with move()
			distance = 16
		with turn()
			degrees = 144
		with move()
			distance = 16
		with turn()
			degrees = -72

draw star()
